<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.agency.dao.finance.FinanceMapper">
    <resultMap id="typeMap" type="Type">
        <id property="typeid" column="typeid"/>
        <result property="typeName" column="typeName"/>
    </resultMap>
    <resultMap id="financeMap" type="Finance">
        <id property="id" column="id"/>
        <result property="createDate" column="createdate"/>
        <result property="typeid" column="typeid"/>
        <result property="money" column="money"/>
        <result property="balance" column="balance"/>
        <result property="remark" column="remark"/>
        <association property="type" resultMap="typeMap"/>
    </resultMap>
    <!--查看全部Finance Sql语句-->
    <select id="queryAll" resultMap="financeMap" >
        select * from finance f ,type t where f.typeid=t.typeid order by f.id desc
    </select>


</mapper>