<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.agency.dao.finance.FinanceMapper">
    <resultMap id="typeMap" type="Type">
        <id property="typeid" column="typeid"/>
        <result property="typeName" column="typeName"/>
    </resultMap>
    <resultMap id="financeMap" type="Finance">
        <id property="id" column="id"/>
        <result property="createDate" column="createdate"/>
        <result property="typeid" column="typeid"/>
        <result property="money" column="money"/>
        <result property="balance" column="balance"/>
        <result property="remark" column="remark"/>
        <association property="type" resultMap="typeMap"/>
    </resultMap>
    <!--查看全部Finance Sql语句-->
    <select id="queryAll" resultMap="financeMap" >
        select * from finance f ,type t where f.typeid=t.typeid order by f.id desc
    </select>
    <insert id="addFinance" parameterType="Finance">
  INSERT INTO finance VALUES(NULL,#{money},#{balance},#{remark},NOW(),#{typeid})
    </insert>
    <!--查询类型-->
    <select id="queryAllType" resultMap="typeMap">
      select * from type
    </select>
    <!--修改,时间为当前时间,其他都修改-->
    <update id="updateFinance" parameterType="Finance">
        update finance set typeid=#{typeid},money=#{money},remark=#{remark},createDate=now() where id=#{id}
    </update>
    <!--通过id查看Finance-->
    <select id="queryFinanceById" resultMap="financeMap">
        select * from finance f,type t where f.typeid=t.typeid and f.id=#{id}
    </select>
<!--删除一条信息-->
    <delete id="deleteFinanceById" parameterType="integer">
        delete  FROM  finance where id=#{id}
    </delete>
    <!--删除多条信息-->
    <delete id="deleteFinanceByIds" >
        delete from finance where id in 
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <select id="queryCreatedateAndToCreatedate" resultMap="financeMap">
           SELECT * FROM finance f,TYPE t WHERE f.typeid=t.typeid AND createdate BETWEEN concat("'",#{createDateNo1},"'") AND concat("'",#{createDateNo2,"'"})
    </select>
</mapper>