<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bdqn.agency.dao.FinanceMapper">
    <resultMap id="typeMap" type="Type">
        <id property="typeid" column="typeid"/>
        <result property="type" column="type"/>
    </resultMap>
    <resultMap id="financeMap" type="Finance">
        <id property="id" column="id"/>
        <result property="createDate" column="createdate"/>
        <result property="typeid" column="t_id"/>
        <association property="Type" resultMap="typeMap"/>
    </resultMap>




</mapper>